<!doctype html>
<html lang="ja">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div>
      <h1>{{ title }}</h1>
      <p>author: {{ author }}</p>
      <article>
        {{ content | safe }}
      </article>
    <div>
  <body>
</html>